.main
  = link_to edit_group_path(@group) do
    .edit-botton Edit
  .group
    %p.group--name.group--name__font= @group.name
    %p.group--member.group--member__font= @group.users.name

  - @messages.each do |message|
    .tweet-space
      %p.tweet-space--username= message.user.name
      %a.tweet-space--timesstamp= message.created_at
      %p.tweet-space--text= message.body
      = image_tag message.image, class: "tweet-space--image"
  .tweet-box
    = form_for([@group, @message]) do |f|
      = f.text_field :body, class:"tweet-box--form",placeholder: "メッセージを入力してください"
      = f.file_field :image do
        = fa_icon "photo", class: "tweet-box--fa_icon"
      = f.submit "Send", class: 'tweet-box--send-botton'
