.main
  = link_to edit_group_path(@group) do
    .edit-botton Edit
  .group
    %p.group--name.group--name__font= @group.name
    %p.group--member.group--member__font= @group.users.name
  .message
    - @messages.each do |message|
      .message--space
        %p.message--space--username= message.user.name
        %a.message--space--timesstamp= message.created_at
        %p.message--space--text= message.body
        = image_tag message.image, class: "tweet-space--image"
  .tweet-box
    = form_for([@group, @message]) do |f|
      = f.text_field :body, class:"tweet-box--form",placeholder: "メッセージを入力してください"
      .new_file
        = f.file_field :image
        %i.fa.fa-photo
      = f.submit "Send", class: 'tweet-box--send-botton'
