.sidebar
  .user
    %span.user--name.user--name__font= current_user.name
    = link_to new_group_path do
      = fa_icon "edit 1x", class: "fa_icon"
    = link_to edit_user_path(current_user) do
      = fa_icon "gear 1x", class: "fa_icon"
  - current_user.groups.each do |group|
    = link_to group_messages_path(group.id) do
      .group
        .group--name.group--name__font group.name
        %p.group--message.group--message__font
          =group_messages_present?(group)
